NEXT_PUBLIC_API_URL=https://api.prepverse.in
NEXT_PUBLIC_DISCORD_INVITE=https://discord.gg/prepverse

NEXTAUTH_SECRET=your_secret_key_here
NEXTAUTH_URL=http://localhost:3000

DISCORD_BOT_TOKEN=your_bot_token
NEXT_PUBLIC_GA_ID=your_ga_id
